html {
  height: 100%;
}
body {
  background-image: url(images/bg.jpg);
  background-size: cover;
  margin: 0;
  bottom: 0;
}
nav a{
  color:#fff !important;
  text-decoration:none !important;
  text-transform: uppercase;
  background-color:transparent;
  -webkit-transition:background-color 0.25s;
  -moz-transition:background-color 0.25s;
  transition:background-color 0.25s;
}
nav{
  text-align: center;
  margin: auto;
  background-color:#55B460;
  box-shadow:0 1px 1px #ccc;
}
nav a{
  text-align: center;
  font-size: 16px;
  text-shadow: 1px 1px 3px #484848;
  display:inline-block;
  padding: 18px 30px;
  font-weight:bold;
  border-radius:2px;
  -webkit-transition:background-color 0.25s;
  -moz-transition:background-color 0.25s;
  transition:background-color 0.25s;
}

nav.main .main,
nav.cart .cart,
nav.history .history{
  background-color: #fff;
}

.img {
  width: 300px;
  padding-top: 10px;
}
.img_block {
  text-align: center;
}

.info_block {
  text-align: center;
}
.title {
  font-size: 19px;
  text-align: center;
  padding-top: 35px;
  color: #fff;
  text-shadow: 1px 1px 3px #484848;
}
.ingredients {
  padding-top: 20px;
  color: #fff;
  text-shadow: 1px 2px 3px #484848;
  font-size: 15px;
}
.price {
  color: #ff0000;
  font-size: 19px;
  font-weight: bold;
  text-shadow: 1px 1px 3px #fff;
}
.contacts {
  float: right;
  padding: 40px 10px;
  color: #fff;
  text-shadow: 1px 2px 3px #484848;
}
.amount {
  text-align: center;
  padding-top: 25px;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 3px #525252;
}
.overlay {
  background-color: #55b460;
  display: inline-block;
  padding: 20px;
  border-radius: 5px;
}
.send_btn {
  font-size: 18px !important;
}


